<div
  class="container"
  (mouseleave)="this.isHovering = false"
  (mouseenter)="this.isHovering = true"
  [classList]="this.isSelected == true ? 'selected' : ''"
>
  <div class="button--group">
    <base-button
      (onClick)="onClickButton.emit()"
      buttonClass="hover--text width--100"
      class="button__text"
    >
      <p>{{this.text}}</p>
    </base-button>

    <base-button
      class="button__icon"
      *ngIf="this.isHovering && this.iconName != ''"
      (onClick)="this.clickIcon()"
    >
      <icon [iconName]="this.iconName" />
    </base-button>
  </div>
</div>
