@import "@styles";

div {
  width: 100%;
  background-color: $no-background;

  display: flex;
  flex-direction: row;
}

.selected {
  background-color: $primary-color-light;
  border-radius: $small-radius;
}

button {
  background-color: $no-background;
  border: none;
  display: inline-block;

  text-align: start;

  border-radius: $small-radius;

  padding: $small-padding;

  width: 100%;

  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $primary-color-light;
  }
}

img {
  margin-left: auto;

  width: 25px;
  height: 25px;
  padding: $v_small-padding;

  &:hover {
    background-color: $accent-color-light;
  }
}
