<div *ngIf="!this.sidebarService.isSidebarOpen()" class="button-group">
  <base-button (onClick)="openSidebar()">
    <icon iconName="sidebar-light" />
  </base-button>
</div>

<div *ngIf="this.sidebarService.isSidebarOpen()" class="container">
  <div class="menu-bar--top">
    <base-button id="close-sidebar" (onClick)="closeSidebar()">
      <icon iconName="sidebar-light" />
    </base-button>

    <base-button (onClick)="switchArchivedPanel()">
      <icon iconName="archivebox-light" />
    </base-button>

    <base-button (onClick)="createImage()">
      <icon iconName="image-light" />
    </base-button>

    <base-button (onClick)="openSearch()">
      <icon iconName="search-light" />
    </base-button>
  </div>

  <div *ngIf="displayArchived" class="group">
    <div class="group__container">
      <div class="group__title">
        <p>Archived Chats</p>
      </div>

      @for (chat of chatService.getArchivedChats(); track $index; let i = $index) {
        <list-button
          (onClickButton)="this.chatService.setCurrentChat(chat)"
          (onClickIcon)="this.chatService.dearchive(chat.id)"
          [text]="chat.name"
          [showMenuOnIconClick]="false"
          iconName="close-light"
          [isSelected]="this.chatService.isCurrentChat(chat, chatService.getArchivedChats())"
        ></list-button>
      }
    </div>
  </div>

  <div *ngIf="!displayArchived" class="group">
    <div class="group__container">
      @if (modelService.modelArray.length) {
        <div class="group__title">
          <p>AI Models</p>
        </div>

        @for (item of modelService.modelArray; track item.model) {
          <list-button
            (onClickButton)="this.chatService.createChat(item.model)"
            (onClickIcon)="this.chatService.createChat(item.model)"
            [text]="item.model"
            iconName="add-light"
          ></list-button>
        }
      }
    </div>

    <div class="group__container">
      @if (chatService.favouriteChats.length) {
        <div class="group__title">
          <p>Favourite Chats</p>
        </div>

        @for (chat of chatService.favouriteChats; track $index; let i = $index) {
          <list-button
            (onClickButton)="this.chatService.setCurrentChat(chat)"
            (onClickIcon)="this.chatService.setCurrentChat(chat)"
            [showMenuOnIconClick]="true"
            (delete)="this.chatService.delete(chat.id)"
            (rename)="this.openRenamePanel(chat.id)"
            (archive)="this.chatService.archive(chat.id)"
            (download)="this.chatService.download(chat, chat.name)"
            [text]="chat.name"
            iconName="dots-light"
            [isSelected]="this.chatService.isCurrentChat(chat, chatService.favouriteChats)"
          ></list-button>
        }
      }
    </div>

    <div class="group__container">
      @if (chatService.getChatList().length) {
        <div class="group__title">
          <p>Chats</p>
        </div>

        @for (chat of chatService.getChatList(); track $index; let i = $index) {
          <list-button
            (onClickButton)="this.chatService.setCurrentChat(chat)"
            [showMenuOnIconClick]="true"
            (delete)="this.chatService.delete(chat.id)"
            (rename)="this.openRenamePanel(chat.id)"
            (archive)="this.chatService.archive(chat.id)"
            (download)="this.chatService.download(chat, chat.name)"
            [text]="chat.name"
            iconName="dots-light"
            [isSelected]="this.chatService.isCurrentChat(chat, chatService.getChatList())"
          ></list-button>
        }
      }
    </div>
  </div>

  <div class="menu-bar--bottom">
    <base-button (onClick)="openOptions()">
      <icon iconName="options-light" />
    </base-button>
  </div>
</div>
