<floating-panel
  [closeOnClickOutside]="true"
  (onClickOutside)="this.searchService.setSearchState(false)"
  [config]="{ width: '60%', height: '80%', top: '10%', left:'20%', right:'20%'}"
  *ngIf="this.searchService.getSearchState()"
>
  <div class="search">
    <div [ngStyle]="{'padding-bottom': this.searchService.searchResults?.length ? '16px' : '0px'}">
      <input
        [(ngModel)]="this.input"
        class="search__input"
        autofocus
        type="text"
        placeholder="Search"
        (keydown.enter)="this.searchChat()"
      />
    </div>

    <div *ngIf="this.searchService.searchResults?.length" class="search__output">
      @for(item of this.searchService.searchResults; track $index) {
      <search-list-item [data]="item"></search-list-item>
      }
    </div>
  </div>
</floating-panel>
