<code-paragraph
  title="This is the title of the coresponding code paragraph which is quit long"
  code="```python

import random

operators = [
  '+',
  '-',
  '*',
  '/',
  '%',
  '**',
  '//',
  '&',
  '|',
  '^',
  '>>',
  '<<',
]

max_depth = 5

def generate_code(depth):
  if depth > max_depth:
    return 'x'

  operator = random.choice(operators)
  if operator in ('&', '|', '^'):
    return (
      '('
      + generate_code(depth + 1)
      + ' '

  ```
  "
></code-paragraph>

<!-- <div class="container">
  <app-sidebar></app-sidebar>

  <floating-button
    *ngIf="this.chatService.currentChat != null && !this.chatService.currentChat.isArchived"
    [config]="{
      right: 8,
      top: 8
    }"
    [iconName]="
      this.chatService.currentChat.isFavourite ? 'bookmark-light-filled' : 'bookmark-light'
    "
    (onClick)="this.chatService.switchFavouriteState()"
    position="left"
    tooltipText="Toggle Favourite"
  ></floating-button>

  <div class="group--convo">
    <app-convo-list
      [ngClass]="{
        'height-100': chatService.currentChat?.isArchived
      }"
    ></app-convo-list>
    <app-input-field
      *ngIf="!chatService.currentChat?.isArchived && chatService.currentChat != undefined"
    ></app-input-field>
  </div>

  <main-menu></main-menu>

  <floating-input
    (onClickOutside)="this.chatService.rename($event)"
    (onEnter)="this.chatService.rename($event)"
  ></floating-input>

  <search-bar></search-bar>

  <file-uploader></file-uploader>

  <floating-info
    [hidden]="!this.floatingInfoService.visible()"
    style="position: absolute; width: 25%; height: 20%; right: 0px; bottom: 0px; padding: 8px"
  ></floating-info>
</div> -->
