<div class="container">
  <app-sidebar></app-sidebar>

  <ng-container *ngIf="this.chatService.currentChat != null">
    <floating-button
      [config]="{
        right: 8,
        top: 8
      }"
      [iconName]="
        this.chatService.currentChat.isFavourite ? 'bookmark-light-filled' : 'bookmark-light'
      "
      (onClick)="this.chatService.switchFavouriteState()"
    ></floating-button>
  </ng-container>

  <div class="group--convo">
    <app-convo-list></app-convo-list>
    <app-input-field *ngIf="chatService.currentChat != undefined"></app-input-field>
  </div>

  <main-menu></main-menu>
</div>
