@import "@styles";

.container {
  height: 100%;
  width: 100%;
  padding: 0px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}


.input {
  background-color: $accent-color;
  border: none;
  outline: none;
  resize: none;

  width: 100%;
  height: 100%;

  margin-top: 12px;

  padding-top: 0px;
  padding-bottom: 0px;

  padding-right: $big-padding;
  padding-left: $big-padding;

  color: $text_color-light;
}

.menuBar {
  margin: 8px;

  display: flex;
  justify-content: flex-end;
}

#send {
  margin-right: 0px;
}
