<floating-panel
  [config]="{ width: '50%', height: '50%' }"
  class="container"
  [centered]="true"
  [closeOnClickOutside]="true"
  *ngIf="stateService.isOptionsOpen()"
  #floatingPanel
>
  <base-button class="button--close" (onClick)="close()">
    <icon iconName="close-light" />
  </base-button>

  <div class="list-item">
    <p>Alle Chats archivieren</p>
    <base-button class="list-item__button" (onClick)="archiveAllChats()">
      <p>Alle archivieren</p>
    </base-button>
  </div>

  <div class="list-item">
    <p>Alle Chats löschen</p>
    <base-button class="list-item__button" (onClick)="deleteAllChats()">
      <p>Alle Chats</p>
    </base-button>
  </div>
</floating-panel>
