@import '@styles';

.container {
  width: 100%;
  height: 100%;
  background-color: $color-primary;

  display: flex;
  flex-direction: row;
}

.group--convo {
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: $padding--small;
}

app-convo-list {
  height: 80%;
}

app-input-field {
  height: 20%;
  width: 60%;

  background-color: $color-accent;

  border-radius: 16px;

  margin-left: auto;
  margin-right: auto;
}
