@import "@styles";

.container {
  width: 100%;
  height: 100%;
  background-color: $primary-color;

  display: flex;
  flex-direction: row;
}

.convoGroup {
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: $small-padding;
}

.ln-block {
  display: inline-block;
}

.convoGroup {
  margin-left: auto;
  margin-right: auto;
}

app-convo-list {
  height: 80%;
}

app-input-field {
  height: 20%;
  width: 60%;

  background-color: $accent-color;

  border-radius: 16px;

  margin-left: auto;
  margin-right: auto;
}

.menuBar {
  position: absolute;
  display: flex;
  right: 0px;
  padding: $small-padding;
}
