.container {
  height: 100%;
  width: auto;
  max-width: 250px;
  min-width: 200px;

  background-color: rgb(255, 134, 134);
}

div > div {
  width: 100%;
}

.aiModelGroup {
  margin-bottom: 20px;
}

.chatGroup {
  margin-top: 20px;
}
