<div class="container">
  <button class="sidebarButton">test</button>

  <div class="aiModelGroup">
    @for(item of modelService.models; track item.name) {
    <app-button iconName="addFolder" [text]="item.name"></app-button>
    }
  </div>
  <div class="chatGroup">
    @for(item of chatService.chatList; track $index ) {
    <app-button [test]="item" iconName="delete" [text]="item.name"></app-button>
    }
  </div>

  <button (click)="openOptions()" class="optionsButton">options</button>
</div>
