@import "@styles";

.container {
  height: 100%;
  width: auto;
  max-width: 200px;
  min-width: 200px;

  background-color: $secondary-color;

  display: flex;
  flex-direction: column;

  white-space: nowrap;
  text-overflow: ellipsis;

  padding-top: $small-padding;
  padding-bottom: $small-padding;
}

div > div {
  width: 100%;
}


.aiModelGroup {
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: fit-content;
}

.chatGroup {
  max-height: 100%;
  overflow-y: auto;
}


.sidebarButton {
  height: 50px;
  margin-bottom: 8px;
}

.optionsButton {
  height: 100px;
  margin-top: auto;
  background-color: $no-background;
  color: $text_color-light;
  border: none;

  border-radius: $small-radius;

  &:hover {
    background-color: $accent-light-color;
    color: $text_color-dark;
  }
}
