<div class="container">
  <div class="menuBarTop">
    <img
      src="/icons/close-light.svg"
      (click)="closeSidebar()"
      class="button icon"
    />
    <img
      (click)="openSearch()"
      src="/icons/search-light.svg"
      class="button icon"
    />
  </div>

  <div class="aiModelGroup">
    @for(item of modelService.models; track item.name) {
    <app-button
      (clickButton)="this.chatService.createChat(item.name)"
      (clickIcon)="this.chatService.createChat(item.name)"
      iconName="add-light"
      [text]="item.name"
    ></app-button>
    }
  </div>

  <div class="chatGroup">
    @for(item of chatService.chatList; track $index; let i = $index ) {
    <app-button
      (clickButton)="this.chatService.setCurrentChat(i)"
      (clickIcon)="this.chatService.delete(i)"
      iconName="delete-light"
      [text]="item.name"
      [isSelected]="this.chatService.isCurrentChat(i)"
    ></app-button>
    }
  </div>

  <div class="menuBarBottom">
    <img
      (click)="openOptions()"
      src="/icons/options-light.svg"
      class="button icon"
    />
  </div>
</div>
