@import "@styles";

.container {
  height: 100%;
  width: 250px;

  background-color: $secondary-color;

  display: flex;
  flex-direction: column;

  white-space: nowrap;
  text-overflow: ellipsis;

  padding-top: $small-padding;
  padding-bottom: $small-padding;

  padding-left: $small-padding;
  padding-right: $small-padding;

}

div > div {
  width: 100%;
}

.closedSidebarButtonGroup {
  position: absolute;
  padding: $small-padding;
}

.aiModelGroup {
  margin-bottom: 32px;
  overflow-y: auto;
  max-height: 20%;
  min-height: 20%;
}

.chatGroup {
  max-height: 40%;
  overflow-y: auto;
  margin-bottom: 32px;
}

.favouriteGroup {
  overflow-y: auto;
  max-height: 15%;
  // min-height: 15%;
  height: fit-content;
  margin-bottom: 16px;
}

.listTitle {
  margin: 0px;
  padding-left: $small-padding;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.button {

  border: none;
  background-color: $no-background;
  color: $text_color-light;
  border-radius: $small-radius;

  &:hover {
    background-color: $accent-color-light;
    color: $text_color-dark;
  }
}

.menuBarTop {
  margin-bottom: 8px;
  height: fit-content;
  display: flex;
}

.menuBarBottom {
  margin-top: 8px;
  height: fit-content;
  display: flex;
  margin-top: auto;
}
