@import "@styles";

.container {
  height: 100%;
  width: 250px;

  background-color: $color-secondary;

  display: flex;
  flex-direction: column;

  white-space: nowrap;
  text-overflow: ellipsis;

  padding-top: $padding--small;
  padding-bottom: $padding--small;

  padding-left: $padding--small;
  padding-right: $padding--small;

}

div > div {
  width: 100%;
}

.button-group {
  position: absolute;
  padding: $padding--small;
}

.group--aimodel {
  margin-bottom: 32px;
  overflow-y: auto;
  max-height: 20%;
  min-height: 20%;
}

.group--chat {
  max-height: 40%;
  overflow-y: auto;
  margin-bottom: 32px;
}

.group--favourite {
  overflow-y: auto;
  max-height: 15%;
  // min-height: 15%;
  height: fit-content;
  margin-bottom: 16px;
}

.group__title {
  margin: 0px;
  padding-left: $padding--small;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.button {

  border: none;
  background-color: $color;
  color: $text-color--light;
  border-radius: $radius--small;

  &:hover {
    background-color: $color-accent--light;
    color: $text-color--dark;
  }
}

.menu-bar--top {
  margin-bottom: 8px;
  height: fit-content;
  display: flex;
}

.menu-bar--bottom {
  margin-top: 8px;
  height: fit-content;
  display: flex;
  margin-top: auto;
}
