<div *ngIf="!this.sidebarService.isSidebarOpen()" class="button-group">
  <base-button (onClick)="openSidebar()">
    <icon iconName="sidebar-light" />
  </base-button>
</div>

<div *ngIf="this.sidebarService.isSidebarOpen()" class="container">
  <div class="menu-bar--top">
    <base-button (onClick)="closeSidebar()">
      <icon iconName="close-light" />
    </base-button>

    <base-button (onClick)="openSearch()">
      <icon iconName="search-light" />
    </base-button>
  </div>

  <div class="group">
    <div class="group__container">
      @if (modelService.modelArray.length) {
        <div class="group__title">
          <p>AI Models</p>
        </div>

        @for (item of modelService.modelArray; track item.model) {
          <list-button
            (onClickButton)="this.chatService.createChat(item.model)"
            (onClickIcon)="this.chatService.createChat(item.model)"
            [text]="item.model"
            iconName="add-light"
          ></list-button>
        }
      }
    </div>

    <div class="group__container">
      @if (chatService.favouriteChats.length) {
        <div class="group__title">
          <p>Favourite Chats</p>
        </div>

        @for (chat of chatService.favouriteChats; track $index; let i = $index) {
          <list-button
            (onClickButton)="this.chatService.setCurrentChat(chat)"
            (onClickIcon)="this.chatService.setCurrentChat(chat)"
            [text]="chat.name"
            iconName="add-light"
            [isSelected]="this.chatService.isCurrentChat(chat, chatService.favouriteChats)"
          ></list-button>
        }
      }
    </div>

    <div class="group__container">
      @if (chatService.chatList.length) {
        <div class="group__title">
          <p>Chats</p>
        </div>

        @for (chat of chatService.chatList; track $index; let i = $index) {
          <list-button
            (onClickButton)="this.chatService.setCurrentChat(chat)"
            (onClickIcon)="this.chatService.delete(i)"
            [text]="chat.name"
            iconName="delete-light"
            [isSelected]="this.chatService.isCurrentChat(chat, chatService.chatList)"
          ></list-button>
        }
      }
    </div>
  </div>

  <div class="menu-bar--bottom">
    <base-button (onClick)="openOptions()">
      <icon iconName="options-light" />
    </base-button>
  </div>
</div>
