<div
  *ngIf="!this.sidebarService.isSidebarOpen()"
  class="closedSidebarButtonGroup"
>
  <img
    src="/icons/sidebar-light.svg"
    (click)="openSidebar()"
    class="button icon"
  />
</div>

<div *ngIf="this.sidebarService.isSidebarOpen()" class="container">
  <div class="menuBarTop">
    <img
      src="/icons/close-light.svg"
      (click)="closeSidebar()"
      class="button icon"
    />
    <img
      (click)="openSearch()"
      src="/icons/search-light.svg"
      class="button icon"
    />
  </div>

  <div class="aiModelGroup">
    @for(item of modelService.modelArray; track item.model) {
    <app-button
      (clickButton)="this.chatService.createChat(item.model)"
      (clickIcon)="this.chatService.createChat(item.model)"
      iconName="add-light"
      [text]="item.model"
    ></app-button>
    }
  </div>

  <div class="chatGroup">
    @for(chat of chatService.favouriteChats; track $index; let i = $index) {
    <app-button
      (clickButton)="this.chatService.setCurrentChat(chat)"
      (clickIcon)="this.chatService.setCurrentChat(chat)"
      iconName="add-light"
      [text]="chat.name"
      [isSelected]="
        this.chatService.isCurrentChat(chat, chatService.favouriteChats)
      "
    ></app-button>
    }
  </div>

  <div class="chatGroup">
    @for(chat of chatService.chatList; track $index; let i = $index ) {
    <app-button
      (clickButton)="this.chatService.setCurrentChat(chat)"
      (clickIcon)="this.chatService.delete(i)"
      iconName="delete-light"
      [text]="chat.name"
      [isSelected]="this.chatService.isCurrentChat(chat, chatService.chatList)"
    ></app-button>
    }
  </div>

  <div class="menuBarBottom">
    <img
      (click)="openOptions()"
      src="/icons/options-light.svg"
      class="button icon"
    />
  </div>
</div>
