<div
  *ngIf="!this.sidebarService.isSidebarOpen()"
  class="closedSidebarButtonGroup"
>
  <base-button
    [config]="{ buttonType: 'icon', iconName: 'sidebar-light' }"
    (onClick)="openSidebar()"
  ></base-button>
</div>

<div *ngIf="this.sidebarService.isSidebarOpen()" class="container">
  <div class="menuBarTop">
    <base-button
      [config]="{ buttonType: 'icon', iconName: 'close-light' }"
      (onClick)="closeSidebar()"
    ></base-button>

    <base-button
      [config]="{ buttonType: 'icon', iconName: 'search-light' }"
      (onClick)="openSearch()"
    ></base-button>
  </div>

  <ng-container *ngIf="modelService.modelArray.length">
    <p class="listTitle">AI Models</p>
    <div class="aiModelGroup">
      @for(item of modelService.modelArray; track item.model) {
      <list-button
        (onClickButton)="this.chatService.createChat(item.model)"
        (onClickIcon)="this.chatService.createChat(item.model)"
        [text]="item.model"
        iconName="add-light"
      ></list-button>
      }
    </div>
  </ng-container>

  <ng-container *ngIf="chatService.favouriteChats.length">
    <p class="listTitle">Favourite Chats</p>
    <div class="favouriteGroup">
      @for(chat of chatService.favouriteChats; track $index; let i = $index) {
      <list-button
        (onClickButton)="this.chatService.setCurrentChat(chat)"
        (onClickIcon)="this.chatService.setCurrentChat(chat)"
        [text]="chat.name"
        iconName="add-light"
        [isSelected]="
          this.chatService.isCurrentChat(chat, chatService.favouriteChats)
        "
      ></list-button>
      }
    </div>
  </ng-container>

  <ng-container *ngIf="chatService.chatList.length">
    <p class="listTitle">Chats</p>
    <div class="chatGroup">
      @for(chat of chatService.chatList; track $index; let i = $index ) {
      <list-button
        (onClickButton)="this.chatService.setCurrentChat(chat)"
        (onClickIcon)="this.chatService.delete(i)"
        [text]="chat.name"
        iconName="delete-light"
        [isSelected]="
          this.chatService.isCurrentChat(chat, chatService.chatList)
        "
      ></list-button>
      }
    </div>
  </ng-container>

  <div class="menuBarBottom">
    <base-button
      [config]="{ buttonType: 'icon', iconName: 'options-light' }"
      (onClick)="openOptions()"
    ></base-button>
  </div>
</div>
