@import "@styles";

.container {
  height: 100%;
  width: 250px;

  background-color: $secondary-color;

  display: flex;
  flex-direction: column;

  white-space: nowrap;
  text-overflow: ellipsis;

  padding-top: $small-padding;
  padding-bottom: $small-padding;

  padding-left: $small-padding;
  padding-right: $small-padding;

}

div > div {
  width: 100%;
}


.aiModelGroup {
  margin-bottom: 32px;
  overflow-y: auto;
  max-height: 30%;
}

.chatGroup {
  max-height: 70%;
  overflow-y: auto;
  margin-bottom: 8px;
}


.button {

  border: none;
  background-color: $no-background;
  color: $text_color-light;
  border-radius: $small-radius;

  &:hover {
    background-color: $accent-light-color;
    color: $text_color-dark;
  }
}

.menuBarTop {
  margin-bottom: 8px;
  height: fit-content;
  display: flex;
}

.menuBarBottom {
  margin-top: 8px;
  height: fit-content;
  display: flex;
  margin-top: auto;
}
