<div *ngIf="stateService.isOptionsOpen()" class="container">
  <base-button
    class="close-button"
    (onClick)="close()"
    iconName="close-light"
    buttonType="icon"
  ></base-button>

  <div class="listItem">
    <p>Alle Chats archivieren</p>
    <base-button
      class="options-button"
      buttonType="text"
      (onClick)="archiveAllChats()"
      buttonText="Alle archivieren"
    ></base-button>
  </div>
  <div class="listItem">
    <p>Alle Chats löschen</p>
    <base-button
      class="options-button"
      buttonText="Alle Chats löschen"
      (onClick)="deleteAllChats()"
      buttonType="text"
    ></base-button>
  </div>
</div>
