<div [classList]="textStyle">
  <ng-container #container>
    <div *ngIf="isAiText()"></div>
  </ng-container>
  <!-- <p class="output__text" *ngIf="!isAiText()">{{ text }}</p> -->

  <div class="output__buttons" *ngIf="!this.loadingState.isLoading() && isAiText()">
    <base-button (onClick)="copyText(this.text)">
      <icon iconName="copy-light" />
    </base-button>

    <base-button
      *ngIf="!this.chatService.currentChat?.isArchived && isLastElement"
      (onClick)="regenerateResponse()"
    >
      <icon iconName="repeat-light" />
    </base-button>
  </div>
</div>
