<div class="container">
  <textarea
    #input
    (ngModel)="(inputText)"
    placeholder="Input text..."
    class="input"
    name="input"
    id="input"
    autofocus
    (keydown.control.enter)="this.sendRequest(input.value)"
  ></textarea>
  <div class="menuBar">
    <base-button
      *ngIf="this.isLoading(); else defaultButton"
      buttonType="icon"
      iconName="close-light"
      (onClick)="cancelRequest()"
    ></base-button>

    <ng-template #defaultButton>
      <base-button
        buttonType="icon"
        iconName="send-light"
        (onClick)="sendRequest(input.value)"
      ></base-button>
    </ng-template>
  </div>
</div>
