div {
  width: 90%;
  height: auto;
  margin-bottom: 20px;

  border-radius: 16px;

  color: rgb(255, 255, 255);
}

.outputText {
  margin: 0;
  padding: 12px;

  overflow-wrap: anywhere;
}

.aiText {
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

.humanText {
  background-color: rgb(32, 32, 108);
  float: right;
}
