@import "@styles";

div {
  width: auto;
  max-width: 70%;
  min-width: auto;

  height: auto;
  margin-bottom: 20px;

  border-radius: $mid-radius;
  color: $text_color-light;
}

.outputText {
  margin: 0;
  padding-top: $mid-padding;
  padding-bottom: $mid-padding;
  padding-left: $big-padding;
  padding-right: $big-padding;

  overflow-wrap: anywhere;
}

.aiText {
  background-color: $no-background;
  float: left;
}

.humanText {
  background-color: $accent-color;
  float: right;
}
