@import "@styles";

.container {
  position: absolute;
  background-color: $accent-color;
  width: 50%;

  height: fit-content;
  min-height: 25%;
  max-height: 75%;

  right: 25%;
  left: 25%;
  top: 15%;

  border-radius: 16px;

  padding: $big-padding;
  color: white;

  display: flex;
  flex-direction: column;
}

div.listItem > button {
  margin-left: auto;
  width: 120px;
}

.listItem {
  display: flex;
  width: 50%;
}

img {
  position: absolute;
  right: 8px;
  top: 8px;
}
