@import "@styles";

div {
  width: 100%;
  background-color: $no-background;

  display: flex;
  flex-direction: row;
}

* {
  color: white;
}

button {
  background-color: $no-background;
  border: none;
  display: inline-block;

  text-align: start;

  border-radius: $small-radius;

  padding: $small-padding;
  margin-left: 20px;

  width: auto;
  min-width: 70%;
  max-width: 70%;

  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $primary-light-color;
  }

  // background: rgb(255,255,255);
  // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(88,88,88,1) 100%);
}

.selected {
  background-color: $primary-light-color;
}

p {
  display: inline-block;
  margin-left: 20px;
}

