<div *ngIf="stateService.isOptionsOpen()" class="container">
  <base-button
    class="button--close"
    (onClick)="close()"
    iconName="close-light"
    buttonType="icon"
  ></base-button>

  <div class="list-item">
    <p>Alle Chats archivieren</p>
    <base-button
      class="list-item__button"
      buttonText="Alle archivieren"
      (onClick)="archiveAllChats()"
      buttonType="text"
    ></base-button>
  </div>

  <div class="list-item">
    <p>Alle Chats löschen</p>
    <base-button
      class="list-item__button"
      buttonText="Alle Chats löschen"
      (onClick)="deleteAllChats()"
      buttonType="text"
    ></base-button>
  </div>
</div>
