@import '@styles';

.container {
  position: absolute;
  background-color: $color-accent;
  width: 50%;

  height: fit-content;
  min-height: 25%;
  max-height: 75%;

  right: 25%;
  left: 25%;
  top: 15%;

  border-radius: 16px;

  padding: $padding--big;
  color: white;

  display: flex;
  flex-direction: column;
}

.list-item {
  width: 50%;
  display: flex;
  align-items: center;
}

.button--close {
  position: absolute;
  right: 8px;
  top: 8px;
}

.list-item__button {
  height: 100%;
  width: 120px;
  margin-left: auto;
}
