<div *ngIf="stateService.isOptionsOpen()" class="container">
  <base-button
    class="button--close"
    (onClick)="close()"
    iconName="close-light"
    buttonType="icon"
  ></base-button>

  <div class="list-item">
    <p>Alle Chats archivieren</p>
    <base-button class="list-item__button" (onClick)="archiveAllChats()">
      <p>Alle archivieren</p>
    </base-button>
  </div>

  <div class="list-item">
    <p>Alle Chats löschen</p>
    <base-button class="list-item__button" (onClick)="deleteAllChats()">
      <p>Alle Chats</p>
    </base-button>
  </div>
</div>
