<div class="container">
  <textarea
    #input
    (ngModel)="(inputText)"
    placeholder="Input text..."
    class="input"
    name="input"
    id="input"
    autofocus
    (keydown.control.enter)="this.sendRequest(input.value)"
  ></textarea>
  <div class="toolbar">
    <base-button
      *ngIf="this.isLoading(); else defaultButton"
      (onClick)="cancelRequest()"
    >
      <icon iconName="close-light" />
    </base-button>

    <ng-template #defaultButton>
      <base-button (onClick)="sendRequest(input.value)">
        <icon iconName="send-light" />
      </base-button>
    </ng-template>
  </div>
</div>
