<div class="container">
  <textarea
    #input
    placeholder="Input text..."
    class="input"
    name="input"
    id="input"
    autofocus
    (keydown.control.enter)="this.sendRequest(input.value)"
  ></textarea>
  <div class="toolbar">
    <base-button *ngIf="this.isLoading(); else defaultButton" (onClick)="cancelRequest()">
      <icon iconName="close-light" />
    </base-button>

    <ng-template #defaultButton>
      <div class="toolbar__left">
        <base-button (onClick)="listenUserInput()">
          <icon #toggleVoiceInput iconName="mic-off-light" />
        </base-button>

        <base-button (onClick)="readAIOutput()">
          <icon #toggleReadOutput iconName="speaker-off-light" />
        </base-button>

        <base-button (onClick)="uploadFile()">
          <icon iconName="upload-light" />
        </base-button>
      </div>

      <div class="toolbar__right">
        <base-button (onClick)="sendRequest(input.value)">
          <icon iconName="send-light" />
        </base-button>
      </div>
    </ng-template>
  </div>
</div>
