@import "@styles";

.container {
  width: 100%;
  height: auto;

  background-color: $color;
}

.button--group {
  display: flex;
  flex-direction: row;
}

.selected {
  background-color: $color-primary--light;
  border-radius: $radius--small;
}

.button {
  background-color: $color;
  border: none;
  display: inline-block;

  text-align: start;

  border-radius: $radius--small;

  padding: $padding--small;

  width: 100%;

  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $color-primary--light;
  }
}

img {
  margin-left: auto;

  width: 25px;
  height: 25px;
  padding: $padding--vsmall;

  &:hover {
    background-color: $color-accent--light;
  }
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;

  background-color: $color-primary--light;
}

.open {
  display: inline-block;
}

.closed {
  display: none;
}
