@import '@styles';

.container {
  width: 100%;
  height: auto;

  background-color: $color;
}

.button--group {
  display: flex;
  flex-direction: row;
}

.selected {
  background-color: $color-primary;
  border-radius: $radius--small;
}

.button__text {
  background-color: $color;
  border: none;
  border-radius: $radius--small;
  display: inline-block;

  text-align: start;
  width: 100%;

  overflow-x: hidden;
  text-overflow: ellipsis;
}

.button__icon {
  margin-left: auto;
}

.options {
  position: absolute;
  display: flex;
  flex-direction: column;

  background-color: $color-primary--light;
}

.open {
  display: inline-block;
}

.closed {
  display: none;
}

p {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
