$text-color--light: #ececec;
$text-color--dark: #131313;

$text-size--big: 32px;
$text-size--mid: 16px;
$text-size--small: 8px;
$text-size--vsmall: 4px;

$color: #00000000;

$color-primary: #1e1e1e;
$color-primary--light: #2c2c2c;

$color-secondary: #353535;
$color-secondary--light: #444444;

$color-accent: #2f2f2f;
$color-accent--light: #606060;

$radius--big: 32px;
$radius--mid: 16px;
$radius--small: 8px;

$padding--vbig: 32px;
$padding--big: 16px;
$padding--mid: 12px;
$padding--small: 8px;
$padding--vsmall: 6px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  &::-webkit-scrollbar-track {
    border-radius: $radius--mid;
  }
}

* {
  box-sizing: border-box;
  font-size: 1rem;

  scrollbar-width: thin;
  color: $text-color--light;
}

textarea {
  font-size: 1rem;
}

.icon {
  box-sizing: content-box;

  width: 25px;
  height: 25px;

  color: $text-color--dark;
  background-color: $color;

  border-radius: $radius--small;
}

p {
  margin: 0px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

input {
  border: none;
  outline: none;
  background-color: $color;
  color: $text-color--light;
}

pre {
  margin: 0px;
}

pre > code.hljs {
  font-family: 'Consolas', 'Courier', monospace;
  border-radius: $radius--small;
  background-color: black;
}
