@import '@styles';

button {
  border: none;
  background-color: $color;
  box-sizing: content-box;

  border-radius: $radius--small;
  color: $text_color--light;

  height: 25px;
  width: auto;

  padding: $padding--vsmall;
}

@mixin hover($color--hover, $color--active) {
  &:hover {
    background-color: $color--hover;
  }

  &:active {
    background-color: $color--active;
  }
}

.hover--icon {
  @include hover($color-accent--light, $color-secondary--light);
}

.hover--text {
  @include hover($color-primary, $color-primary);
}

.text {
  @include hover($color-primary, $color-primary);
  height: auto;
  width: 95%;
  padding-top: $padding--big;
  padding-bottom: $padding--big;
}

.width--100 {
  text-align: start;
  width: 100%;
}

.tooltip {
  position: relative;

  & .tooltip__text {
    visibility: hidden;
    width: auto;

    background-color: black;
    color: #fff;
    text-align: center;

    border-radius: $radius--small;
    padding: $padding--small;

    position: absolute;
    z-index: 1;

    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;

    &--top {
      left: 50%;
      bottom: 125%;
      transform: translateX(-50%);
    }

    &--right {
      left: 125%;
    }

    &--bottom {
      left: 50%;
      top: 125%;
      transform: translateX(-50%);
    }

    &--left {
      right: 125%;
    }
  }
}

.tooltip:hover .tooltip__text {
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}
