@import "@styles";

.button-text {
  margin: 0px;
}

@mixin button-style($color-hover) {
  border: none;
  background-color: $color;
  box-sizing: content-box;

  border-radius: $radius--small;
  color: $text_color--light;

  &:hover {
    background-color: $color-hover;
  }
}

.icon-button {
  @include button-style($color-accent--light);

  width: 25px;
  height: 25px;
  padding: $padding--vsmall;

}

.text-button {
  @include button-style($color-accent--light);
}

.no_hover-button {
  text-align: start;

  display: inline-block;

  padding: $padding--small;

  width: 100%;

  overflow-x: hidden;
  text-overflow: ellipsis;

  @include button-style($color-primary--light);
}
