$primary-background: #393939;
$sidebar-background: #2c2c2c;
$button-background: #ffffff00;
$selected-background: #444444;
$hover-background: #1f1f1f;
$floating_panel-background: #7d7d7d;
$icon-background: #cfcfcf;

$font_color-dark: #000000;
$font_color-light: #ffffff;

$ai_text-background: #00000000;
$human_text-background: #434343;


html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  &::-webkit-scrollbar-track {
    border-radius: 16px;
  }
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  scrollbar-width: thin;
}

textarea {
  font-size: 1rem;
}

.icon {

  box-sizing: content-box;

  width: 25px;
  height: 25px;

  border-radius: 12px;
  padding: 5px;

  &:hover {
    background-color: $icon-background;
  }
}

